<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacob.dao.mappers.user.SysUserInfoDao">

    <resultMap id="BaseResultMap" type="com.jacob.common.model.user.entity.SysUserInfo">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="status" property="status"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_login_ip" property="lastLoginIp"/>

        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, username, nickname, avatar, phone, email, gender, birthday,
        status, last_login_time, last_login_ip, create_time, create_user, update_time, update_user
    </sql>

    <insert id="insertWithBean" parameterType="com.jacob.common.model.user.entity.SysUserInfo">
        INSERT
        INTO sys_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="nickname != null and nickname != ''">
                nickname,
            </if>
            <if test="avatar != null and avatar != ''">
                avatar,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="status != null">
                status,
            </if>
            create_time,
            <if test="createUser != null and createUser != ''">
                create_user,
            </if>
            update_time,
            <if test="updateUser != null and updateUser != ''">
                update_user,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                #{nickname},
            </if>
            <if test="avatar != null and avatar != ''">
                #{avatar},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="status != null">
                #{status},
            </if>
            NOW(),
            <if test="createUser != null and createUser != ''">
                #{createUser},
            </if>
            NOW(),
            <if test="updateUser != null and updateUser != ''">
                #{updateUser},
            </if>
        </trim>

    </insert>

    <update id="updateWithBean" parameterType="com.jacob.common.model.user.entity.SysUserInfo">
        UPDATE sys_user_info
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="lastLoginIp != null and lastLoginIp != ''">last_login_ip = #{lastLoginIp},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null and updateUser != ''">update_user = #{updateUser}</if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM sys_user_info WHERE user_id = #{userId}
    </delete>

    <delete id="deleteBatchByPrimaryKeys" parameterType="java.lang.String">
        DELETE FROM sys_user_info
        WHERE user_id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="selectOneById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM sys_user_info
        WHERE user_id = #{userId}
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(1)
        FROM sys_user_info
        <where>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="email != null and email != ''">
                AND email LIKE CONCAT('%', #{email}, '%')
            </if>
        </where>
    </select>

    <select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user_info
        <where>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="email != null and email != ''">
                AND email LIKE CONCAT('%', #{email}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>



</mapper>